.delivery-list {
    position: absolute;
    top: 5%;
    left: 0;
    width: 50%;
    height: 85vh;
    padding: 20px;
    z-index: 100;
    overflow: scroll;
}

.delivery-list p {
    font-size: 0.7rem;
    color: rgb(0, 80, 179);
}

.delivery-list ion-list {
    border-radius: 12px;
    --background: transparent;
    background: transparent;
}

.delivery-list ion-list ion-item {
    --background: #ffffffc9;
}